body{
	background-image: url("../images/background.png");
	color: #999;
}

body div{
	font-family: 'Georgia', Times, Times New Roman, serif;
	
}

#nav-bar{
	background-color: white;
	padding-left:15%; 
	padding-right: 15%;
}


#nav-bar{
	border-bottom: 2px solid #cccccc;
}

.menu{
	width: 970px;
}

.menu-sel{
	color: #999;
	display: block;
	float: right;
	text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.menu-sel div{
	padding-left: 10px;
	padding-right: 10px; 
}

.dush div{
	border-left: 2px solid #cccccc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* li a.active{
	color: white;
	background-color: #4CAF50;
} */

#name{
	float: left;
	color: white;
	background-color: #4fa59f;
	font-weight: bold;
	font-size: 30px;
	padding: 30px;
}

#article{
	padding-top: 40px;
	padding-left:15%;
	padding-right: 15%;
	font-size: 20px;
	margin-bottom: 50px;
	overflow: hidden;
}

.blocks{
	display: block;
	float: left;
	border: 1px solid #dddddd;
}

.spacing{
	width: 70px;
	height: 70px;
	margin: 3px;
	border: transparent;
	background:
}

#git-icon{
	background: url(../images/git.png);
	background-size: 100%;
}

#stack-icon{
	background: url(../images/stack.png);
	background-size: 100%;
}

#linked-icon{
	background: url(../images/linkedin.png);
	background-size: 100%;
}

#copyright-icon{
	background: url(../images/copyright.png);
	background-size: 100%;
}

#sosial{
	margin-top: 20px;
}

#about{
	width: 610px;
	background-color: white;
	margin-right: 20px;
	padding: 20px;
}

#about header{
	font-weight: bold;
	font-size: 30px;
	color: #4fa59f;
	border-bottom: 3px solid #cccccc;
	padding-bottom: 20px;
}

#connect{
	margin-left: 20px;
	width: 230px;
	background-color: white;
	padding: 20px;
}

#connect header{
	font-weight: bold;
	font-size: 20px;
	color: #4fa59f;
	border-bottom: 2px solid #e8e8e8;
	padding-bottom: 20px;
}

#content{
	margin: 15px;
}

#avatar{
	float: left;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 30px;
	padding-bottom: 5px;
	width: 200px;
	height: 200px;
} 

#addition{
	padding-top: 20px;
}

#content p{
	line-height: 40px;
	margin-top: 0px;
}

#footer{
	color: white;
	width: 100%;
	border-top: 7px solid #4aaaa5;
	text-align: center;
	background-color: #666666;
	padding: 30px;
	clear: both;
}

/*            Contact Page                            */

input[type=text], select {
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4fa59f;
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=text]:focus {
    border: 1px solid #ccc;
}

textarea{
	width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 8px 0;
    font-size: 16px;
    resize: none;
}